# yarn
.yarn/*
!.yarn/plugins
!.yarn/releases
**/yarn-error.log*

# dependencies
**/node_modules
# misc
**/.DS_Store

node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts
hardhat.config.js